#{extends 'main.html' /}
#{set title:'Home' /}

<script type="text/javascript">
	function find() {
		// we coul
		var findAction = #{jsRoute @Movies.find(':title') /}
		// new line because the jsRoute tag does not put one and the 
		// interpretation fails

		var searchToken = $("#searchToken").val()

		$.ajax({
			url: findAction.url({title: searchToken}),
			type: findAction.method,
			success: function(movies) {
				var html = ""
				movies.forEach(function(movie) {
					html += 
					"<tr>" +
						"<td><img height='50' src='/Movies/renderImage?movieId=" + movie.id + "'></td>" +
						"<td>" + movie.title + "</td>" +
						"<td>" + movie.year + "</td>" +
					"</tr>"
				})
				$("#movieTable").html(html)				
			}
	   })
	}
</script>

<div class="container">
	<div class='row'>
		<h2>Movies for: ${user.email}</h2>
		
		<a href="/Users/logout" class="btn btn-warning " type="button">Logout</a>
	</div>

	<div class='row'>
		<div class="col-md-3 pull-right input-group">
			<input id="searchToken" type="search" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-default" onClick="find()" type="button">Go!</button>
			</span>
		</div>
	</div>

    <div >
       #{listMovies movies: movies /}
    </div>

	<div class="col-md-6">
      #{createMovie /}
  	</div>
</div>