#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container">

	<div class="col-md-4 col-md-offset-4">
		<h2>Login</h2>
	
		#{form @Users.login(), method: 'POST', role:'form'}
			<div class="form-group">
				<label for="email">Email:</label>
				<input class="form-control"  type="text" name="user.email" value="" />
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input class="form-control"  type="password" name="user.password" value="" />
			</div>
		 	<div class="form-group">
				<input type="submit" class="btn btn-default" value="Login" />
			</div>
		#{/form}
	</div>
</div>