#{form @Movies.create(), enctype:'multipart/form-data', role:'form'}
    <div class="form-group">
    <label for="title">title:</label>
    <input class="form-control"  type="text" name="title" value="" />
  </div>
    <div class="form-group">
    <label for="year">year:</label>
    <input class="form-control"  type="number" name="year" value="" />
  </div>
    <div class="form-group">
    <label for="cover">cover:</label>
    <input class="form-control" type="file" name="cover" />
    <br>
  </div>
    <div class="form-group">
    <input type="submit" class="btn btn-default" value="save" />
  </div>
#{/form}
