<table class="table table-hover">
  <thead>
    <tr>
      <th>img</th>
      <th>title</th>
      <th>year</th>
    </tr>
  </thead>
  <tbody id="movieTable">
    #{list items: _movies, as:'m'}
    <tr>
      <td><img height="70" src="@{Movies.renderImage(m.id)}"></td>
      <td>${m.title}</td>
      <td>${m.year}</td>
    </tr>
    #{/list}
  </tbody>
</table>
